################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/x64/Debug
/.vs/GAME-SDL/FileContentIndex
/.vs/GAME-SDL/v17/ipch/AutoPCH
/.vs/GAME-SDL/v17
/Debug
/GAME-SDL
